# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build and Tests ASP.NET Core Web API

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    env:
      TESTS_PROJECT_PATH: ./src/MyLifeApp.Api.Test/MyLifeApp.Api.Test.csproj
      API_PROJECT_PATH: ./src/MyLife.Api/MyLife.Api.csproj

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore dependencies
        run: dotnet restore ${{ env.API_PROJECT_PATH }}
      - name: Build
        run: dotnet build ${{ env.API_PROJECT_PATH }} --no-restore
      - name: Test
        run: dotnet test ${{ env.TESTS_PROJECT_PATH }}
